body{
  background-color: beige;
}

#make{
  background-color: blue;
  width: 120px;
  height: 80px;
  font-size: xx-large;
  font-style: oblique;
  color: aliceblue;
}

#ansstring{
  font-size: large;
}

#to{
  width: 100px;
  height: 50px;
  font-size:large;
  color: red;
}

#ma{
  width: 100px;
  height: 50px;
  font-size:large;
  color: green;
}

#reset{
  width:100px;
  height: 50px;
  font-size:large;
}
