body{
  background-color: beige;
}

#make{
  background-color: blue;
  width: 200px;
  height: 100px;
  font-size: large;
  font-style: oblique;
  color: aliceblue;
}

#ansstring{
  font-size: large;
}
