body{
  background-color: beige;
}

#make{
  background-color: blue;
  width: 200px;
  height: 100px;
  font-size: xx-large;
  font-style: oblique;
  color: aliceblue;
}

#ansstring{
  font-size: large;
}

#to{
  width:100px;
  height:50px;
  font-size:large;
}
#ma{
  width:100px;
  height:50px;
  font-size:large;
}
#reset{
  width:100px;
  height:50px;
  font-size:large;
}
