body{
  background-color: beige;
}

#make{
  -webkit-appearance:none;
  background-color: blue;
  width: 80vw;
  height: 80vh;
  font-size: x-large;
  font-style: oblique;
  color: aliceblue;
}

#DP{
  -webkit-appearance:none;
  background-color: blue;
  width: 100vw;
  height: 100vh;
  font-size: x-large;
  font-style: oblique;
  color: aliceblue;
}

#ansstring{
  font-size: large;
}

#to{
  -webkit-appearance:none;
  width: 100vw;
  height: 100vh;
  font-size:xx-large;
  color: red;
}

#ma{
  -webkit-appearance:none;
  width: 100vw;
  height: 100vh;
  font-size:xx-large;
  color: green;
}

#hi{
  -webkit-appearance:none;
  width: 100vw;
  height: 100vh;
  font-size:xx-large;
  color: blue;
}

#me{
  -webkit-appearance:none;
  width: 100vw;
  height: 100vh;
  font-size:xx-large;
  color: pink;
}

#ka{
  -webkit-appearance:none;
  width: 100vw;
  height: 100vh;
  font-size:xx-large;
  color: brown;
}

#shinbunshi{
  -webkit-appearance:none;
  width: 100vw;
  height: 100vh;
  font-size:xx-large;
  color: white;
}

#reset{
  -webkit-appearance:none;
  width: 70vw;
  height: 70vh;
  font-size:large;
}
